<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsther</title>
</head>
<body>
<h1>Create person</h1>
<form action="/people/create" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="givenName" placeholder="Given name">
  <input type="text" name="familyName" placeholder="Family name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <button type="submit">Register</button>
</form>
</body>
</html>
