<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Newsther</title>
</head>
<body>
<h1 th:text="|${person.givenName} ${person.familyName}|"></h1>
<p>Username: <span th:text="${person.username}"></span></p>
<p>Email: <span th:text="${person.email}"></span></p>
<p>Password: <span th:text="${person.password}"></span></p>
<form th:action="@{/people/{id}/delete(id=${person.id})}" method="post">
    <button>Delete</button>
</form>
<table>
    <thead>
    <tr>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="newsletter: ${person.newsletters}">
        <td><a th:href="@{/newsletters/{slug}(slug=${newsletter.slug})}" th:text="${newsletter.title}"></a></td>
    </tr>
    </tbody>
</table>
<div th:insert="~{people/listSubscriptionsForPerson :: subscriptionsList}"></div>
</body>
</html>
