<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Newsther</title>
</head>
<body>
<h1>List newsletters</h1>
<a href="/newsletters/create"><button>Create</button></a>
<table>
    <tbody>
    <tr th:each="newsletter: ${newsletters}">
        <td th:text="${newsletter.id}"></td>
        <td th:text="${newsletter.name}"></td>
        <td th:text="${newsletter.slug}"></td>
        <td><a th:href="@{/newsletters/{slug}(slug=${newsletter.slug})}"><button>View</button></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
