<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Newsther</title>
</head>
<body>
<h1 th:text="${newsletter.name}"></h1>
<a th:href="@{/people/{username}(username=${newsletter.creator.username})}"
   th:text="${newsletter.creator.username}"></a>
<form
        method="post"
        th:action="@{/subscriptions/{slug}/subscribe(slug=${newsletter.slug})}"
>
    <button type="submit">Subscribe</button>
</form> <!-- TODO Condition of an attribute subscribed (boolean) to add -->
<form
        method="post"
        th:action="@{/subscriptions/{slug}/unsubscribe(slug=${newsletter.slug})}"
>
    <button type="submit">Unsubscribe</button>
</form>
<form method="post" th:action="@{/newsletters/{id}/delete(id=${newsletter.id})}">
    <!-- TODO Only display/allow newsletter deletion for creator -->
    <button type="submit">Delete</button>
</form>
<h2>News</h2>
<a th:href="@{/news/create?newsletterId={id}(id=${newsletter.id})}"><button>Create</button></a>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Creation date</td>
        <td>Send date</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="news: ${newsletter.newsList}">
        <td th:text="${news.id}"></td>
        <td><a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.title}"></a></td>
        <td th:text="${news.creationDate}"></td>
        <td th:text="${news.sendDate}"></td>
    </tr>
    </tbody>
</table>
<a href="/newsletters">Back to newsletters</a>
</body>
</html>
