<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Newsther</title>
</head>
<body>
<nav th:fragment="menu">
    <a href="/">Home</a>
    <a href="/newsletters">Newsletters</a>
    <div sec:authorize="isAnonymous()">
        <a href="/login">Login</a>
        <a href="/people/create">Register</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>Welcome, <a href="/people/me"><span sec:authentication="name"></span></a></p>
        <form action="/perform_logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</nav>
<h1>Newsther index page</h1>
<p>Welcome, let's try hard together</p>

<form action="/tasks/send-news" method="post">
    <button type="submit">Send</button>
</form>
</body>
</html>
